@use '../custom' as *;
@use '../components/mixins' as *;

.news-article-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $primary;
    font-family: $font-third;
    font-weight: 200;

    .container {
        width: 80%;
    }

    .article-title {
        padding-top: 3rem;
        @include responsive-font(1.8rem, 2rem, 2.2rem, 2.5rem, 3rem, 3.5rem);
    }

    .article-content {
        line-height: 1.6;
        margin-bottom: 1.5rem;
        @include responsive-font(0.9rem, 1rem, 1.1rem, 1.2rem, 1.4rem, 1.6rem);
    }

    .article-metadata {
        font-size: 0.9rem;
        color: rgb(200, 200, 200);
        font-style: italic;
    }

    .img-fluid {
        width: 25vw; 
        height: auto;
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
        @media (max-width: 992px) {
            width: 50vw; 
        }
    
        @media (max-width: 768px) {
            width: 70vw;
        }
    
        @media (max-width: 576px) {
            width: 80vw;
        }
        
    }
}
